/* ***************************************************************************** */
/* ************** XFORMS CSS STYLESHEET  *************************************** */
/* this stylesheet uses table layout which may not be supported on all browsers. */
/* ***************************************************************************** */

/* ***************************************************************************** */
/* ****************** GENERAL XFORMS MIP AND COMMON-CHILD STYLES *************** */
/* ***************************************************************************** */

.xfDisabled iframe {
    display: none;
}

.xfDisabled label {
    display: none;
}

.xfDisabled .xfValue {
    display: none;
}

.xfDisabled {
    display: none;
}

.xfDisabled .xfHelpIcon {
    display: none;
}

.xfDisabled span {
    display: none;
}

.xfReadOnly .xfValue {
    background:#E4E4E4 url(../images/buttonDisabled.png) repeat-x scroll center top;
    border-color:#D5D5D5 #D5D5D5 #BDBDBD;
    cursor:not-allowed !important;
}

/*********** styles character used for signaling 'required' (normally '*') ***********/

.xfRepeat .xfLabel .xfRequiredSymbol {
    display: inline;
}

.xfOptional .xfRequiredSymbol {
    display: none;
}

.xfRequired .xfLabel{
    /*background:url(../images/required.gif) no-repeat left top;*/
    padding-left:10px;
    font-weight:bold;
    
}

.xfRequiredEmpty  .xfLabel {
    font-weight:bold;
    color:orangered;
}


/*.xfHelpText {
    position: absolute;
    z-index:999;
}*/


/* ***************************************************************************** */
/* **************************** REPEAT STYLES  ********************************* */
/* ***************************************************************************** */

.xfRepeatPrototype {
    display: none;
}

.xfRepeatSelector {
/*float: left;*/
}

.xfSelectorPrototype {
    display: none;
}

.xfMinimalRepeat{
    display:block;}

.xfMinimalRepeat .xfRepeatItem{
    float:left;
    clear:none;}

.xfMinimalRepeat .xfRepeatIndex{
    float:left;
    clear:none;}

.xfCompactRepeat td .xfDisabled {
    display:none;}


/* ***************************************************************************** */
/* **************************** SWITCH STYLES ********************************** */
/* ***************************************************************************** */

.xfSwitch .xfSelectedCase {
    display: inherit;
}

.xfSwitch .xfDeselectedCase {
    display: none;
}

.xfFullSwitch .caFillerTab {
    overflow: hidden;
}

