/* ***************************************************************************** */
/* ************** CSS STYLESHEET FOR STYLING XFORMS INSIDE OF HTML ************* */
/* this stylesheet should be used to overwrite styles in xforms.css **************/
/* ***************************************************************************** */
/*
form {
    margin: 20px;
}
*/

/* ***************************************************************************** */
/* ********************* GLOBAL STYLE RULES       ****************************** */
/* ***************************************************************************** */

body{
    background:url( '../images/bgOne.gif' ) repeat-x scroll;
    /*width: 100%;*/
    /*height: 100%;*/
    margin: 30px;
    padding: 0;
    overflow: hidden;
}

#fluxProcessor {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff url( '../images/chiba-logo_klein2.gif' ) no-repeat center center;
    position: absolute;
    z-index: 999;
}

#caLogo {
    display: block;
    position: relative;
    text-align: right;
}

#caCopyright {
    position: absolute;
    /*bottom:0;*/
    right:0;
    font-size: 8pt;
    padding-right:20px;

}

#caLoading {
    top: 2px;
    right: 30px;
    padding: 3px;
}

.caMessagePane {
    display: block;
    position: fixed;
    z-index: 1000;
    border: solid;
    border-width: 1px;
    background-color: lightyellow;
    left: 20px;
    top: 20px;
    padding: 10px;

}
.caInactive {
    display: none;
}

#caLoading {
    position: absolute;
    z-index: 1000;
}

a.link {
    color: #444444;
}

a.visited {
    color: #444444;
}

a.active {
    color: #444444;
}

.tundra * {
    font-family: sans-serif;
    font-size: 10pt;
}

.tundra .dijitToasterContainer{
    padding:2px;
    border:thin dotted gray;
}
.tundra .dijitToasterContent{
    font-size:smaller;
    color:black;
    padding-top: 2px;
    padding-bottom:2px;
    
}

/* #################### CONTROL APPEARANCE STYLES #################### */

.xfInput {
    display: block;
}

.xfInput .xfLabel {
/*   display:inline; */
}

.xfInput .xfValue {
    height: 1.2em;
}

/* Range */
.dojoxRating ul {
    padding: 0;
    margin: 0;
}

.dojoxRatingStar {
    display: inline-block;
    background-image: url( ../images/rating_empty.gif );
    background-position: left center;
    position: relative;
    height: 15px;
    width: 15px;
    float: left;
}

.dojoxRatingStarChecked {
    background-image: url( ../images/rating_full.gif );
}

.dojoxRatingStarHover {
    background-image: url( ../images/rating_full.gif );
    opacity: .5;
}

/* ***************************************************************************** */
/* ********************* GENERAL XFORMS MIP AND COMMON-CHILD STYLES ************ */
/* ***************************************************************************** */

.xfInvalid .xfValue {
    background-color:#F9F7BA;
}

.xfInvalid .dijitTextBox {
}

.xfInvalidIcon {
    margin-left: 5px;
    height: 14px;
    width: 14px;
}

.caDisplayInvalid {
    background-color: #F9F7BA !important;
}

.tundra .dijitCheckBox,
    .tundra .dijitCheckBoxIcon /* inside a toggle button */
{
    background-image: url( '../images/checkmarkNoBorder.png' ); /* checkbox sprite image */
    border: 1px solid gray;
    height: 14px;
    width: 14px;

}

.xfSelectorItem {
    float:left;
    padding: 3px;
}

.xfSelectorItem .xfLabel {
    padding: 3px;
}

/*********** styles character used for signaling 'required' (normally '*') ***********/
.xfRequiredSymbol {
    color: darkred;
    font-size: larger;
}

.xfRepeat .xfLabel .xfRequiredSymbol {
    color: red;
    display: inline;
}

.xfOptional .xfRequiredSymbol {
    display: none;
}

#helpTrigger{
    position:absolute;
    top:3px;
    right:3px;
    z-index:999;
}
.xfHelpPane {
    positon: absolute;
    top: 20px;
    right: 0px;
    height: 40px;
    width: 500px;
}

/*
.xfHelp{
    border:none;
    background-color:transparent;
}

.xfHelpText {
    */
/* width: 300px; */
/*
    border: thin dotted gray;
    background-color: #eee;
    padding: 10px;
}

.xfHelpSymbol {
    margin-left: 3px;
}
*/


/*
.xfTextarea > .xfValue {
    width: 380px;
}
*/

.caRefreshButton {
    display: block;
    float: right;
    background-color: rgb( 188, 216, 132 );
    border: thin solid gray;
    padding: 2px;
    margin-left: 10px;
}

/*********** Upload specific styles ***********/
.caProgressbar {
    display: none;
}

.caProgressbar .border {
    background: url( ../images/progress-remainder.gif ) repeat-x;
    margin-top: 1px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 100%;
    height: 18px;
}

.caProgressbar .background {
    background: url( ../images/progress-bar.gif ) repeat-x;
    height: 18px;
    width: 0%;
}

.xfDisabled .caProgressbar {
    display: none;
}

/* ***************************************************************************** */
/* ********************* XFORMS GROUP STYLES      ****************************** */
/* ***************************************************************************** */

.xfGroup {
    padding: 10px;
    margin: 10px;
}

/* ##############################MINIMAL GROUP STYLES ############################## */

.xfMinimalGroup {
    border: thin dotted;
    /* WARNING: leaf display none uncomment, otherwise xfDisabled will not work!!
    display:none;
    */
}

.xfMinimalGroup .xfGroupLabel {
    display: block;
}

.xfFullGroup .xfControl {
    margin-bottom: 16px;
    valign: top;

}

.xfFullGroup .xfControl .xfLabel {
    text-align: left;
    width: 160px;
    vertical-align: top;
    display:block;
    float:left;
}


.xfFullGroup .xfControl .xfValue {

    /*  conflicts with repeat
        position:absolute;
    */
    left: 200px;
    text-align: left;
}

/* ############################## COMPACT GROUP STYLES ############################## */

.xfCompactGroup {
    border: thin dotted;
    float: left;
}

.xfCompactGroup > .xfLabel {
    display: block;
    float: none;
}

.xfCompactGroup div {
    display: block;
    float: left;
    clear: none;
}

.xfCompactGroup div label {
    display: block;
}

.xfCompactGroup div .xfValue {
    margin-right: 3px;
    display: inline;
}

.xfCompactGroup .xfDisabled {
    display: none;
}

/* ############################## FULL GROUP STYLES ############################## */
.xfFullGroup {
    border: thin dotted;
    clear: both;
}

.xfFullGroup xfLabel {
    width: 10em;
    float: left;
}

.xfFullGroup .xfValue {
/*    display:inline; */
}

.xfFullGroup .xfDisabled {
    display: none;
}

.xfMinimalGroup > .xfLabel {
    display: inline;
}

.xfMinimalGroup .xfDisabled {
    display: none;
}

/* ***************************************************************************** */
/* ********************* REPEAT STYLES ***************************************** */
/* ***************************************************************************** */

.xfRepeatIndex {
    background-color: lightyellow;
}

.xfRepeatIndex .xfValue {
    background-color: lightyellow;
}

.xfRepeatIndexPre {
    background-color: #ffff99;
}

.xfRepeatIndexPre .xfValue {
    background-color: #ffff99;
}

.xfRepeatIndexMouseOver {
    background-color: #ffff99;
}

.xfRepeatIndexMouseOver .xfValue {
    background-color: palegoldenrod;
}

.xfMinimalRepeat {
    display: block;
}

.xfMinimalRepeat * {
    background-color: #eeeeee;
}

.xfFullRepeat {
    display: block;
}

.xfFullRepeat label {
    display: block;
    float: left;
    width: 100px;
}

.xfFullRepeat .xfRepeatItem {
    clear: both;
    display: block;
    padding: 5px;
}

/* applies only to compact repeat and matches an empty cell at the right of the repeat table to dock insert and
delete actions to */
.xfRepeatItem .caRepeatActionDock {
    display: none;
    height: 18px;
    width: 40px;
}

.xfRepeatItem .caRepeatActionDock a {
    width: 40px;
}

.xfRepeatIndex .caRepeatActionDock {
    width: 40px;
    display: block;
}

/*
 .xfRepeatIndex .caRepeatActionDock > {
    width:39px;
    display:block;
}
*/

.caDeleteMouseOut {
    background: url( ../images/tabClose.gif ) no-repeat;
    background-position: center right;
    width: 34px;
    height: 18px;
}

.caDeleteOnMouseOver {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.caInsertBeforeMouseOut {
    background: url( ../images/insertBefore.png ) no-repeat;
    background-position: center center;
    width: 34px;
    height: 18px;
}

.caInsertBeforeOnMouseOver {
    height: 35px;
    padding-top: 0px;
    margin: 0;
}

.caInsertAfterMouseOut {
    background: url( ../images/insertAfter.png ) no-repeat;
    background-position: center center;
    width: 34px;
    height: 18px;
}

.caInsertAfterOnMouseOver {
    height: 35px;
}


.caTabContainer {    
    height: 600px;
    width:800px;	
;
}
/* ***************************************************************************** */
/* ********************* SWITCH STYLES ***************************************** */
/* ***************************************************************************** */
.xfFullSwitch {
    border-spacing: 0px;
}

.xfFullSwitchBody {
    background-color: #F0F4EA;
    border: 1px solid black;
    border-top: none;
}

.xfFullSwitch .caActiveTab {
    background-color: #F0F4EA;
    border: 1px solid rgb( 85, 96, 63 );
    border-right: none;
    border-bottom: #F0F4EA;
    padding: 3px 5px 3px 5px;
    width: 10%;
}

.xfFullSwitch .caActiveTab input {
    background-color: #F0F4EA;
    border: none;
}

.xfFullSwitch .caInactiveTab {
    background-color: rgb( 188, 216, 132 );
    border: 1px solid rgb( 85, 96, 63 );
    border-right: none;
    padding: 3px 5px 3px 5px;
    width: 10%;
}

.xfFullSwitch .caInactiveTab input {
    background-color: rgb( 188, 216, 132 );
    border: none;
}

.xfFullSwitch .caFillerTab {
    border: 1px solid rgb( 85, 96, 63 );
    border-top: none;
    border-right: none;
    width: 90%;
}

/* ***************************************************************************** */
/* ********************* SELECT STYLES ***************************************** */
/* ***************************************************************************** */

.xfFullSelect1 .xfValue,
.xfFullSelect .xfValue {
    background: transparent;
    float:left;
    margin-right:5px;
}

.xfFullSelect1 .xfLabel {
    float: left;
    width:80px;
}

.xfReadWrite .dijitRadio, .xfReadWrite .dijitRadioIcon {
    background-image: url( ../images/checkmark.png );
    background-position: -112px 50%;
    background-repeat: no-repeat;
    height: 16px;
    margin: 0;
    padding: 0;
    width: 16px;
}

.xfReadWrite .dijitRadioChecked {
    background-image: url( ../images/checkmark.png );
    background-position: -96px 50%;
    background-repeat: no-repeat;
    height: 16px;
    margin: 0;
    padding: 0;
    width: 16px;

}

.xfReadOnly .dijitRadio, .xfReadOnly .dijitRadioIcon {
    background-image: url( ../images/checkmark.png );
    background-position: -144px 50%;
    background-repeat: no-repeat;
    height: 16px;
    margin: 0;
    padding: 0;
    width: 16px;
}

.xfReadOnly .dijitRadioChecked {
    background-position: -129px 50%;
}

.xfReadWrite .dijitCheckBox, .xfReadWrite .dijitCheckBoxIcon {
    background-image: url( ../images/checkmarkNoBorder.png );
    background-position: -16px 50%;
    background-repeat: no-repeat;
    height: 14px;
    margin: 0;
    padding: 0;
    width: 14px;
}

.xfReadWrite .dijitCheckBoxChecked {
    background-image: url( ../images/checkmarkNoBorder.png );
    background-position: 0 50%;
    background-repeat: no-repeat;
    height: 14px;
    width: 14px;

}

.xfReadOnly .dijitCheckBox, .xfReadOnly .dijitCheckBoxIcon {
    background-image: url( ../images/checkmarkNoBorder.png );
    background-position: -48px 50%;
    background-repeat: no-repeat;
    height: 14px;
    width: 14px;
}

.xfReadOnly .dijitCheckBoxChecked {
    background-position: -32px 50%;
}

.caFishEye {
    margin: 10px;
    line-height: 22px;
    padding: 3px;
    display: block;
    font: 10px Arial sans-serif;
}

/*
 ########################################################################################
                Styles from Allcomponent:
 ########################################################################################


*/

.helpIcon {
    vertical-align: top;
}

.tundra .dijitCheckBoxIcon {
    background-image: url( ../images/checkmarkNoBorder.png );
}

.xfControl select {
    background-color: white;
}

.caHelpIcon {
    background-image: url( ../images/info22.png );
    background-repeat: no-repeat;
    background-position: center center;
    width: 18px;
    height: 18px;
}

.xfHelpIcon .dijitArrowButtonInner {
    background: transparent;
}

.xfHelpIcon .dijitButtonNode {
    border: none;
    background: transparent;
}

.xfHelpIcon button {
    width: 24px;
}

.xfHelpText * {
    font-family: 8pt sans-serif;
    font-size: 8pt;

}

.helpAttributeTableHeader {
    font-size: small;
    font-weight: bold;
    background-color: #D3D3D3;
}

.xfAccordion {
    float: left;
    margin-right: 30px;
    width: 900px;
    height: 750px;
    overflow: hidden
}

#xfTextareaHTML .xfValue {
    height: 240px;
    width: 500px;
}

/* overwritten dojo styles */

.dijitBorderContainer {
    position: absolute;
}

.dijitButtonHover .dijitButtonNode,
    .dijitButtonNodeHover,
    .dijitToggleButtonHover .dijitButtonNode,
    .dijitDropDownButtonHover .dijitButtonNode,
    .dijitComboButtonHover .dijitButtonContents,
    .dijitComboButtonDownArrowHover .dijitDownArrowButton,
    .dijitComboBoxHover .dijitDownArrowButton,
    .dijitSpinnerUpArrowHover .dijitUpArrowButton,
    .dijitSpinnerDownArrowHover .dijitDownArrowButton {
    border: 0;
    background: transparent;
}

.dijitAccordionBody {
    padding-top: 10px;
    padding-left: 5px;
}

/*##################################################################
                   START Imported STYLES
##################################################################*/

/* START DOJOX/FORMS/RESOURCES/RANGESLIDER.CSS */
.dojoxRangeSlider .dijitSliderLeftBumperH,
    .dojoxRangeSlider .dijitSliderBottomBumperV {
    background: #FFFFFF !important;
}

.dojoxRangeSliderBarContainer {
    position: relative;
}

.dojoxRangeSlider .dijitSliderProgressBarV {
    position: relative !important;
}

.dojoxRangeSlider .dijitSliderProgressBar {
    overflow: hidden;
    cursor: pointer; /* background:yellow !important; */
}

.dojoxRangeSlider .dijitSliderProgressBarV {
    position: absolute !important;
    border-width: 0px;
}

/* START DOJOX/FORMS/RESOURCES/RANGESLIDER.CSS */
/*##################################################################
                   END Imported STYLES
##################################################################*/


